<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.ClienteMapper">
    
    <select parameterType="map" id="getClientes" resultMap="ClienteResult">
            
        select
    
        c.nombre as cliente_nombre,
        c.documento as cliente_documento,
        c.telefono as cliente_telefono,
        c.direccion as cliente_direccion,
        c.email as cliente_email,
        c.vetado as cliente_vetado,
    
        ir.id as irentado_id,
        ir.fechainiciorenta as irentado_fechainiciorenta,
        ir.fechafinrenta as irentado_fechafinrenta,
    
        i.id as item_id,
        i.nombre as item_nombre,
        i.descripcion as item_descripcion,
        i.fechalanzamiento as item_fechalanzamiento ,
        i.tarifaxdia as item_tarifaxdia,
        i.formatorenta as item_formatorenta ,
        i.genero as item_genero ,        
        
        ti.id as tItem_id,
        ti.descripcion as tItem_descripcion

    
        FROM VI_CLIENTES as c 
        left join VI_ITEMRENTADO as ir on c.documento=ir.CLIENTES_documento 
        left join VI_ITEMS as i on ir.ITEMS_id=i.id 
        left join VI_TIPOITEM as ti on i.TIPOITEM_id=ti.id 
    
   
    </select>


    <resultMap type='Cliente' id="ClienteResult">
        
        <id property='documento' column='documento'/>
        <result property='nombre' column='nombre'/>
        <result property='telefono' column='telefono'/> 
        <result property='direccion' column='direccion'/>
        <result property='email' column='email'/> 
        <result property='vetado' column='vetado'/>
        <collection property='rentas' ofType='ItemRentado'resultMap="itemRentadoResult" columnPrefix="irentado_"></collection>
   
    </resultMap>

    <resultMap type='ItemRentado' id='itemRentadoResult'>
        <id property='id' column='id'/>
        <result property='fechainiciorenta' column='fechainiciorenta'/>
        <result property='fechafinrenta' column='fechafinrenta'/> 
        <association property="item" javaType="Item" columnPrefix="item_"></association>      
    </resultMap>

   

    <resultMap type='Item' id='ItemResult'>
        <id property='id' column='Id'/>
        <result property='nombre' column='Nombre'/>
        <result property='descripcion' column='Descripcion'/> 
        <result property='fechalanzamiento' column='FechaLanzamiento'/> 
        <result property='tarifaxdia' column='Tarifa'/> 
        <result property='formatorenta' column='FormatoRenta'/> 
        <result property='genero' column='Genero'/> 
        <association property="tipoItem" javaType="TipoItem" columnPrefix="tItem_"></association>      
    </resultMap>

    <resultMap type='TipoItem' id='TipoItemResult'>
        <id property='id' column='Id'/>
        <result property='descripcion' column='Descripcion'/>            
    </resultMap>


          	
</mapper>